{{define "Prefix"}}
<tr>
  <td class="col-sm-3" style="font-family: monospace; padding-left: calc({{.Depth}} * 1.5em)">
    {{.Prefix.Prefix}}
    <div class="dropdown" style="display: inline">
      <button class="btn btn-default btn-xs dropdown-toggle" style="background-image: none; border: 0; box-shadow: none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-cog glyphicon-smaller" />
      </button>
      <ul class="dropdown-menu">
        <li><a data-toggle="modal" data-target="#createOrEditWin" data-prefix="{{.Prefix.Prefix}}" data-prefix-id="{{.Id}}" data-prefix-desc="{{.Description}}">Edit</a></li>
        <li><a data-toggle="modal" data-target="#deleteWin" data-prefix="{{.Prefix.Prefix}}" data-prefix-id="{{.Id}}">Delete</a></li>
      </ul>
    </div>
    {{if (subPrefixes .Prefix.Prefix)}}
    <div class="dropdown" style="display: inline">
      <button class="btn btn-default btn-xs dropdown-toggle" style="background-image: none; border: 0; box-shadow: none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-plus glyphicon-smaller" />
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Allocate a...</li>
        {{range (subPrefixes .Prefix.Prefix)}}
        <li><a href="#">/{{.}}</a></li>
        {{end}}
      </ul>
    </div>
    {{end}}
  </td>
  <td class="col-sm-9">{{.Description}}</td>
</tr>
{{range .Children}}
{{template "Prefix" .}}
{{end}}
{{end}}

<table class="table">
  {{range .Prefixes}}
  {{template "Prefix" .}}
  {{end}}
</table>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    {{if not .Prefixes}}
    <p><i>This realm has no prefixes yet. Want to fix that?</i></p>
    {{end}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createOrEditWin">
      New Prefix
    </button>
  </div>
</div>

<!-- Prefix creator -->
<div class="modal" id="createOrEditWin" tabindex="-1" role="dialog" aria-labelledby="createOrEditTitle">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title gi-title" id="createOrEditTitle">New Prefix</h4>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-sm-7">
            <p class="alert alert-danger gi-error" style="display: none"></p>
            <form class="form-horizontal">
              <input class="gi-prefix-id" type="hidden" value=""/>
              <div class="form-group">
                <label for="prefix" class="col-sm-2 control-label">Prefix</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control gi-prefix" tabindex="1"/>
                </div>
              </div>
              <div class="form-group">
                <label for="desc" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <textarea class="form-control gi-desc" rows="3" tabindex="2"></textarea>
                </div>
              </div>
            </form>
          </div>

          <div class="col-sm-5">
            <div class="panel panel-info">
              <div class="panel-heading">What's a prefix?</div>
              <div class="panel-body">
                <p>
                  A prefix is a container for IP addresses.
                </p>
                <p>
                  They can reflect a physical reality (e.g. a LAN subnet), or
                  they can just be an administrative abstraction (e.g. a
                  container for all your point-to-point link addresses).
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" tabindex="5" data-dismiss="modal">Cancel</button>
          <button type="button" tabindex="3" class="btn btn-primary gi-btn">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Prefix deleter -->
<div class="modal" id="deleteWin" tabindex="-1" role="dialog" aria-labelledby="deleteWinTitle">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteWinTitle">Delete Prefix</h4>
      </div>
      <div class="modal-body">
        
        <input class="gi-prefix-id" type="hidden" value=""/>
        <p>Are you sure you want to delete <b class="gi-prefix"></b>?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-warning gi-btn">Yes, keep children</button>
          <button type="button" class="btn btn-danger gi-btn" data-recursive="true">Yes, also delete children</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
 $(document).ready(function() {
   // Create/Update
   var createWin = $("#createOrEditWin");
   var createParts = {
     title: createWin.find(".gi-title"),
     prefixId: createWin.find(".gi-prefix-id"),
     prefix: createWin.find(".gi-prefix"),
     desc: createWin.find(".gi-desc"),
     btn: createWin.find(".gi-btn"),
     error: createWin.find(".gi-error"),
   };

   createWin.on('show.bs.modal', function(event) {
     var trigger = $(event.relatedTarget);
     var info = {
       id: trigger.data('prefix-id'),
       prefix: trigger.data('prefix'),
       desc: trigger.data('prefix-desc'),
     };
     if (info.id != null) {
       createParts.title.html("Edit " + info.prefix);
       createParts.prefixId.val(info.id);
       createParts.prefix.val(info.prefix);
       createParts.desc.val(info.desc);
       createParts.btn.html("Save");
     } else {
       createParts.title.html("Create Prefix");
       createParts.prefixId.val("");
       createParts.prefix.val("");
       createParts.desc.val("");
       createParts.btn.html("Create");
     }
   });
   createWin.on('shown.bs.modal', function() { createParts.prefix.focus(); });
   createParts.btn.click(function() {
     createParts.btn.addClass("disabled");
     var req = {
       url: "/api/realms/{{.RealmID}}/prefixes",
       data: JSON.stringify({
         prefix: createParts.prefix.val(),
         description: createParts.desc.val(),
       }),
       contentType: "application/json",
       dataType: "json",
     };
     if (createParts.prefixId.val() == "") {
       req.type = "POST";
     } else {
       req.type = "PUT";
       req.url = req.url + "/" + createParts.prefixId.val();
     }
     
     $.ajax(req).done(function(data) {
       window.location.reload(true);
     }).fail(function(err) {
       createParts.error.css("display", "block").html(err.responseJSON.error);
       createParts.btn.removeClass("disabled");
     });
   });

   // Deletion
   var deleteWin = $("#deleteWin");
   var deleteParts = {
     prefixId: deleteWin.find(".gi-prefix-id"),
     prefix: deleteWin.find(".gi-prefix"),
     btn: deleteWin.find(".gi-btn"),
   };

   deleteWin.on('show.bs.modal', function(event) {
     var trigger = $(event.relatedTarget);
     var pfxId = trigger.data('prefix-id');
     var pfx = trigger.data('prefix');
     deleteParts.prefixId.val(pfxId)
     deleteParts.prefix.html(pfx);
   });

   deleteParts.btn.click(function(event) {
     var trigger = $(event.relatedTarget);
     var recurse = trigger.data('recursive') != "";
     deleteParts.btn.addClass("disabled");
     var req = {
       type: 'DELETE',
       url: '/api/realms/{{.RealmID}}/prefixes/' + deleteParts.prefixId.val(),
       contentType: "application/json",
       dataType: "json",
     };
     if (trigger.data("recursive") != "") {
       req.url = req.url + "?recursive";
     }
     $.ajax(req).done(function(data) {
       window.location.reload(true);
     }).fail(function(err) {
       alert("Delete failed: " + err.responseJSON.error);
       window.location.reload(true);
     });
   });
});
</script>
